# Lists

In [1]:
a = [] # empty list suqare brackets
print(a)

[]

In [2]:
print(type(a))

<class 'list'>

In [3]:
print(a)

[]

In [4]:
a = ['apple', 'orange']

In [5]:
print(a)

['apple', 'orange']

## Add element to the list
Use **append**

In [6]:
a.append('banana') # add item to the end of the list
a.append('tomato')

In [7]:
print(a)

['apple', 'orange', 'banana', 'tomato']

## Indexing

In [8]:
print(a[0]) # index starts from 0

apple

In [9]:
print(a[1])

orange

## Slicing

In [10]:
print(a[:2]) # select first 2 elements
print(a[:3]) # select first 2 elements

['apple', 'orange']
['apple', 'orange', 'banana']

In [11]:
print(a[1:]) # select starting from index of 1

['orange', 'banana', 'tomato']

In [12]:
print(a[-1]) # select the last element

tomato

In [13]:
print(a[-2]) # second last
print(a[-3])

banana
orange

## Built in List Functions

### len()

In [14]:
print(a)
print(len(a)) # number of elements in the list

['apple', 'orange', 'banana', 'tomato']
4

In [15]:
b = [2, 3, 4, 5]

### max(), min(), sum()

In [16]:
print('max of b = %d' % max(b))
print('min of b = %d' % min(b))
print('sum of b = %d' % sum(b))
avg = sum(b)/len(b)
print('mean of b = %.3f' % avg)

max of b = 5
min of b = 2
sum of b = 14
mean of b = 3.500

### concatenate

In [17]:
print(b)
c = [10, 20, 30]
print(c)
d = b + c
print(d)
print(len(d))

[2, 3, 4, 5]
[10, 20, 30]
[2, 3, 4, 5, 10, 20, 30]
7

### insert an element into list

In [18]:
print(d)
d.insert(5, 'new_one')
print(d)
d.append('the_end')
print(d)

[2, 3, 4, 5, 10, 20, 30]
[2, 3, 4, 5, 10, 'new_one', 20, 30]
[2, 3, 4, 5, 10, 'new_one', 20, 30, 'the_end']

### Replacement

In [19]:
d[3] = 'new_one2'
print(d)
d[4] = '2022'
print(d)

[2, 3, 4, 'new_one2', 10, 'new_one', 20, 30, 'the_end']
[2, 3, 4, 'new_one2', '2018', 'new_one', 20, 30, 'the_end']

### Remove

In [20]:
d.remove('new_one')
print(d)

[2, 3, 4, 'new_one2', '2018', 20, 30, 'the_end']

In [21]:
d.remove('the_end')
print(d)

[2, 3, 4, 'new_one2', '2018', 20, 30]

In [22]:
a = ('apple','banana','water') #immutable
a.append('b')
a.insert('a')

AttributeError: 'tuple' object has no attribute 'append'